@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.containerrr {
  border: 2px solid rgb(206, 206, 206);
  border-radius: 25px;
  /* margin: 15px 15px 105px 105px; */
  margin-top: 7px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 10px;
  padding: 7px 65px;
  box-shadow: 7px 7px 5px rgb(41, 41, 41), -7px -7px 5px rgb(41, 41, 41);
  /* box-shadow: -7px -7px 5px rgb(41, 41, 41) ;    */
  /* width: auto; */
}

.containerrr h2 {
  text-align: center;
  font-size: 31px;
}

.aaa {
  animation-name: alphabet;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.container-fluiddd {
  padding: 6px 105px;
  /* border: 2px solid purple; */
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 35px;
  /* width: fit-content;  */
}

.doctor {
  padding: 10px 35px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: fit-content;
  box-shadow: 5px 5px 2px rgb(145, 145, 145);
}

.patient {
  padding: 10px 25px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  width: fit-content;
  box-shadow: 5px 5px 2px rgb(100, 100, 100);
}

.img-box {
  display: block;
  justify-content: center;
  align-items: center;
}

.img-box h2 {
  text-align: center;
  padding: 2px;
}

.img-box img {
  border: 2px solid black;
  border-radius: 14px;
}

.container-fluiddd div input {
  padding: 5px 10px;
  margin: 5px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 19px;
}
.register-here p {
  font-size: 16px;
  font-weight: bold;
}
input[type="submit"],
[type="button"] {
  background-color: black;
  color: cyan;
  transition: 0.5s;
}
input[type="submit"],
input[type="button"]:hover {
  cursor: pointer;
  background-color: cyan;
  color: rgb(0, 0, 0);
}
input[type="submit"] {
  background-color: black;
  color: white;
}
input[type="submit"]:hover {
  color: cyan;
}
.doctor p a,
.patient p a {
  text-decoration: none;
}
.navbar-nav .nav-item {
  transition: 0.5s;
}
.navbar-nav .nav-item :hover {
  text-decoration: underline;
}
.navbar-brand {
  color: cyan;
  -webkit-text-stroke: 1px cyan;
  /* font-weight: bold; */
  font-size: 23px;
  transition: 0.5s;
}
.navbar-brand:hover {
  color: white;
  -webkit-text-stroke: 1px white;
}

/* pop up box  */
.popup {
  width: 300px;
  border: 1px solid black;
  background-color: white;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  /* to make it on the center of the webpage */
  transform: translate(-50%, -50%);
  border-radius: 15px;
  text-align: center;
  padding: 0 30px 30px;
}
.popup img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: -50px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.popup h2 {
  font-family: cursive;
}
.popup p {
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
}
.popup button {
  color: white;
  background-color: red;
  width: 100%;
  border-radius: 12px;
  margin-top: 5px;
  padding: 7px 0px;
  cursor: pointer;
  /* background-color: #6fd649; */
  font-size: 18px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  font-weight: bold;
}

@keyframes alphabet {
  from {
    color: transparent;
  }

  to {
    color: black;
  }
}
